*

!.github
!.github/**
!docs
!docs/**
!src
!src/**
!.dockerignore
!.gitignore
!constants.js
!Dockerfile
!LICENSE
!package.json
!README.md
!config.default.js 
!biome.json
!.husky
!.husky/**
!commitlint.config.mjs
!.gitmessage
!docker-compose.yml
!ytmusic_videodata_1765292622656.json